body {
  min-height: 100vh;
  padding: 0 10vh;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background: #eee;
}

input[type="range"] {
  position: absolute;
  box-sizing: border-box;
  appearance: none;
  width: 100%;
  height: 10px;
  background-color: #b2b2b2;
  border-radius: 50px;
  margin: 0;
  border: 0;
  outline: none;
  background-size: 100% 2px;
  pointer-events: none;
  box-shadow: inset 0 0 4px #000000;

  &:active,
  &:focus {
    outline: none;
  }
}

input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
  height: 28px;
  width: 28px;
  border-radius: 28px;
  border: solid 1px #b2b2b2;
  background-color: #fff;
  position: relative;
  z-index: 50;
  cursor: pointer;
  appearance: none;
  pointer-events: all;
  box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
  height: 28px;
  width: 28px;
  border-radius: 28px;
  border: solid 1px #b2b2b2;
  background-color: #fff;
  position: relative;
  z-index: 50;
  cursor: pointer;
  appearance: none;
  pointer-events: all;
  box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
}

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
  height: 28px;
  width: 28px;
  border-radius: 28px;
  border: solid 1px #b2b2b2;
  background-color: #fff;
  position: relative;
  z-index: 10000;
  cursor: pointer;
  appearance: none;
  pointer-events: all;
  box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
}

.multi-range-container {
  width: 400px;
  position: relative;
}

.multi-range {
  position: relative;
  height: 50px;
  display: block;
  width: 100%;

  input[type="range"] {
    position: absolute;
  }
}

.range-color {
  background-color: red;
  border: solid 1px #000;
  border-radius: 50px;
  width: 100%;
  display: block;
  height: 10px;
  position: absolute;
  z-index: 10;
  box-shadow: inset 1px 1px 2px hsla(0, 0%, 0%, 0.25),
    inset 0px 0px 2px hsla(0, 0%, 0%, 0.25);
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type="range"]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #367ebd;
}
.range-value {
  position: absolute;
  top: -110%;
}
.range-value span {
  line-height: 1.75rem;
  text-align: center;
  background: #000;
  padding: 0.15rem 0.35rem;
  color: #fff;
  font-size: 1rem;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 5px;
  /* width: 35px; */
}
/* .range-value span:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
} */
